
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.add-btn {
  float: right;
  background-color:  red;
  color: white;
}

.element{
  width: 50vh;
  height: 50vh;;
}
